body {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  position: relative;
  /* text-align: center; */
}

img {
  max-height: 60rem;
  width: 100%;
}

p {
  color: cornflowerblue;
  font-size: 2rem;
  margin: 0;
  position: absolute;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* this accounts for the offset caused by the size of the p tag. */
}

.top-left {
  top: 4px;
  left: 10px;
}

.top-right {
  top: 4px;
  right: 10px;
}

.bottom-left {
  bottom: 4px;
  left: 10px;
}

.bottom-right {
  bottom: 4px;
  right: 10px;
}