body {
  width: 80%;
  margin: auto;
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  align-items: center;
  min-height: 15rem;
}

.image-carousel {
  display: flex;
  justify-content: space-between;
}

.left-arrow-container, .right-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid black;
  border-radius: 50%; /* Creates a circle */
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  left: 35%;
  content: '';
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: 2rem;
  height: 2rem;
  z-index: 1;
  transform: rotate(45deg);
 }

.right-arrow {
  position: absolute;
  right: 35%;
  content: '';
  border-right: 2px solid black;
  border-top: 2px solid black;
  width: 2rem;
  height: 2rem;
  z-index: 1;
  transform: rotate(45deg);
}

.left-arrow-container:hover, .right-arrow-container:hover {
  border-color: orange;
  transition: ease .3s;
}

.left-arrow:hover, .right-arrow:hover {
  border-color: cornflowerblue;
  transition: ease .4s;
}

.image-normal {
  display: none;
  width: auto;
  max-height: 25rem;
  margin: 1rem;
}

.image-small {
  display: none;
  width: auto;
  max-height: 15rem;
  margin: .5rem;
}

.image-mobile {
  display: none;
  width: auto;
  max-height: 40rem;
}


.display-image {
  display: flex;
}