table {
  display: table;
  border-collapse:collapse;
  border: 1px solid black;
  white-space: nowrap;
  min-width: 35rem;
}

th, td {
  border: 1px solid black;
  text-align: left;
}

th:hover {
  cursor: pointer;
  color: orange
}

td:nth-child(4):hover {
  color: orange;
  cursor: pointer;
}

form {
  min-width: 35rem;
}

th.clicked.ascending:after {
  content: '\02C4';
  margin-left: 2rem;
  font-size: 1rem;
}

th.clicked:after {
  content: '\02C5';
  margin-left: 2rem;
  font-size: 1rem;
}
